@font-face {
  font-family: 'Montserrat';  
  src: url('../../assets/fonts/MontSerrat.woff2') format('woff2')       
  font-weight: normal;
  font-style: normal;
}

$arrowPx = 50px

$metal = #AEB7B3
$canary = #EFCB68
$fog = #E1EFE6
$coal = #16302B
$turtle = #19D2AE

// Typography
// -------------------------
font-family-primary = "Helvetica Neue", Helvetica, Arial, sans-serif;
// font-family-primary-extra-thin-italic = 'Averta-ExtrathinItalic', sans-serif
// font-family-primary-thin = 'Averta-Thin', sans-serif
// font-family-primary-thin-italic = 'Averta-ThinItalic', sans-serif
// font-family-primary-light = 'Averta-Light', sans-serif
// font-family-primary-light-italic = 'Averta-LightItalic', sans-serif
// font-family-primary-regular = 'Averta-Regular', sans-serif
// font-family-primary-regular-italic = 'Averta-RegularItalic', sans-serif
// font-family-primary-semi-bold = 'Averta-Semibold', sans-serif
// font-family-primary-semi-bold-italic = 'Averta-SemiboldItalic', sans-serif
// font-family-primary-bold = 'Averta-Bold', sans-serif
// font-family-primary-bold-italic = 'Averta-BoldItalic', sans-serif
// font-family-primary-extra-bold = 'Averta-ExtraBold', sans-serif
// font-family-primary-extra-bold-italic = 'Averta-ExtraBoldItalic', sans-serif

font-size-xxsmall = 10px
font-size-xsmall = 12px
font-size-small = 14px
font-size-medium = 16px
font-size-xmedium = 18px
font-size-large = 20px
font-size-xlarge = 24px
font-size-xxlarge = 28px
font-size-xxxlarge = 32px
font-size-grande = 36px
font-size-xgrande = 40px
font-size-xxgrande = 46px
font-size-xxxgrande = 52px
font-size-poster = 72px
font-size-billboard = 128px

// MEDIA QUERIES AND BREAKPOINTS
bp-mobile-min = 320px
bp-mobile-tweak-lower-max = 439px
bp-mobile-tweak = 440px
bp-mobile-max = 559px
bp-tablet-min = 560px
bp-tablet-tweak-lower-max = 659px
bp-tablet-tweak = 660px
bp-tablet-max = 759px
bp-desktop-md-min = 760px
bp-desktop-md-tweak-lower-max = 859px
bp-desktop-md-tweak = 860px
bp-desktop-md-max = 959px
bp-desktop-min = 960px
bp-desktop-tweak-lower-max = 1079px
bp-desktop-tweak = 1080px
bp-desktop-max = 1300px

// media query formatting strings... use with built-in s() function
mq-query-minmax-fstr = "only screen and (min-width: %s) and (max-width: %s)"
mq-query-min-fstr = "only screen and (min-width: %s)"

// media query strings... use like @media mq-mobile
mq-mobile = s(mq-query-minmax-fstr, 0px, bp-mobile-max)
mq-tablet = s(mq-query-minmax-fstr, bp-tablet-min, bp-tablet-max)
mq-desktop-md = s(mq-query-minmax-fstr, bp-desktop-md-min, bp-desktop-md-max)
mq-desktop = s(mq-query-minmax-fstr, bp-desktop-min, bp-desktop-max)
mq-max = s(mq-query-min-fstr, bp-desktop-max)

body
  text-align center
  font-family font-family-primary
  a
    color $fog
    &:hover
      color $canary
      text-decoration none
    &:visited
      color $fog !important
      text-decoration none !important

  div.slide
    font-size 1em
    @media mq-mobile
      font-size 10vw
    @media mq-tablet
      font-size 10vw
    @media mq-desktop-md
      font-size 8vw
    @media mq-desktop
      font-size 8vw
    @media mq-max
      font-size 6vw

  .title
    font-family Montserrat
    color $fog
    font-size 2em
    padding-top 5vw
    
  .subtitle
    font-family MontSerrat
    color $fog
    font-size 1.25em
      
  .name
    font-size 1em
    
  .current-stack
    color $turtle
    
  .interests
    color $coal
    
  .contact
    color $canary

  .arrow-up
  .arrow-down
  .arrow-right
  .arrow-left
    width 0
    height 1

  .arrow-down
  .arrow-up
    border-left $arrowPx solid transparent
    border-right $arrowPx solid transparent

  .arrow-up-1
    border-top $arrowPx solid $turtle
  .arrow-up-2
    border-top $arrowPx solid $coal
  .arrow-up-3
    border-top $arrowPx solid $canary
  .arrow-down
    border-bottom $arrowPx solid $canary

  .arrow-left
  .arrow-right
    border-bottom $arrowPx solid transparent
    border-top $arrowPx solid transparent

  .arrow-left
    border-right $arrowPx solid $canary
  .arrow-right
    border-left $arrowPx solid $canary

  .abs-center
  .abs-top
  .abs-bottom
    position absolute
    margin-left auto
    margin-right auto
    left 0
    right 0

  .abs-top
    top 0
  .abs-bottom
    bottom 0

  .top-100
    top 100%
  .top-200
    top 200%
  .top-300
    top 300%

  .turtle
    color $turtle
  .turtle-b
    background-color $turtle
  .coal
    color $coal
  .coal-b
    background-color $coal
  .canary
    color $canary
  .canary-b
    background-color $canary
  .fog
    color $fog
  .fog-b
    background-color $fog
  .metal
    color $metal
  .metal-b
    background-color $metal
    
//Nav
  .topNav
    display block
  .sideNav
    display block
