$teal = #18d2ba;
$grey = #ebf2fa;
$white = #fff;
$navy = #575E7D;
$mid-grey = #EAF2FB;
$real-blue = #408DF4;

$huge-font = 4.25rem;
$big-font = 2.25rem;
$medium-font = 1.5rem;

$ten = 10px;
$twenty-five = 25px;

$mobile = 768px;
$crutch = 767px;

.color-teal
  color $teal

.color-white
  color $white

.big-font
  font-size $big-font

  @media (max-width: $crutch)
    font-size $medium-font

.align-right
  text-align right

.bold
  font-weight bold

body
  padding-top 0px
  padding 0 10%

  a
    color $navy;
    text-decoration: none;
    padding: 2px 3px;
    transition: all .2s ease-in-out;
    -webkit-box-shadow: inset 0 -3px 0 $real-blue
    box-shadow: inset 0 -3px 0 $real-blue

    &:hover
      box-shadow: inset 0 -33px 0 0 $real-blue
      color: $white !important

  // Overrides
  span
    i.em
      display inline-block

    &::after
      content " ";

  .siimple-tag, .siimple-tip
    border-radius 0px

  .siimple-tip
    line-height 2rem
    padding-top $twenty-five
    padding-bottom $twenty-five

  header
    height 100vh

    #header-title
      margin-top 10%
      font-size $huge-font

      span
        &::after
          content "";

    .siimple-tag
      font-size $big-font
      line-height inherit

      @media (max-width: $crutch)
        font-size $medium-font

  section
    margin-bottom 10%
    padding-left 5%
    padding-right 1.2%

    .siimple-tip
      box-shadow 10px 10px

  .content
    width 80%
    margin 0 auto
    max-width 750px

  // Font
  .small-font
    font-size 1rem

  .medium-font
    font-size 1.25rem

  // Spacing
  .siimple-blockquote
      div
        margin-bottom .5rem

  .section-title
      display flex

      .siimple-tag
        padding 0px 10px

        @media (max-width: $crutch)
          box-shadow 10px 10px $navy
          width 100%
          margin-right 0px

          &.no-box-bottom
            box-shadow 10px 10px $navy
            border-right 1px solid white

  // Tabs
  #tabs
    padding-top 0px !important
    padding-left 0px !important
    padding-right 44px !important
    border-right 1px solid white

    display none
    box-shadow 10px 10px

    *, *:before, *:after
      margin 0
      padding 0
      box-sizing border-box

    line-height 1.5
    margin 0 0 20px
    border-left 5px solid $navy

    input
      display none

    label
      display inline-block
      margin 0 0 -1px
      padding 2%
      font-weight 600
      text-align center
      color $navy
      border 1px solid transparent
      border-right 1px solid $mid-grey

      &:hover
        color #888
        cursor pointer

    input:checked + label
      color $teal
      border-right 5px solid $navy
      border-bottom 1px solid $white

    section
      display none
      padding-top 24px
      border-top 1px solid $mid-grey

    .tool-content
      padding-left 24px

    #tab1:checked ~ #content1,
    #tab2:checked ~ #content2,
    #tab3:checked ~ #content3,
    #tab4:checked ~ #content4
      display block

  .open-source-section
    a
      margin 5px
      font-size .75rem

  #open-source-contributions, #open-source-starred
    margin-top 14px
    margin-bottom 14px

@media (max-width: $crutch)
  .siimple-tag
    font-size $medium-font

@media (max-width: $mobile)
    body
      padding 0 8%

      header
        .siimple-jumbotron
          padding-top 10%

        #header-title
          margin-top 0px

          span
            &::after
              content "";

      #footer
        .siimple-grid-col
          margin-bottom 14px

      section
        padding-left 0px

        .siimple-grid-col.siimple-grid-col--3.siimple-grid-col-md--6
          min-height 300px

      .no-tabs
        display none

      // Tabs
      #tabs
        display block
        min-height 300px

        .margin-bottom-5
          margin-bottom 5px